

body, .blank{
	background-color: #ececec;
}

.container{
	
	max-width: 100%;
}


h1, h2 {
	color: #4aaaa5;
}

h1{
	font-size: 35px;
}

h2{
	font-size: 25px;
}

#main-button{
	height: 100px;
	width: 250px;
	background-color: #4aaaa5;
	border: none;
}



.main{
	max-width: 75%;
	margin: auto;
}

.container-sub{
	max-width: 75%;
	margin:auto;
}

.content{
	padding: 25px;
	background-color: #ffffff;
	
}

.banner{
	background-color: #ffffff;
	align-items: center;
}

.drop{
	margin-bottom: 50px;
}

.border-main{
	border-style: solid;
	border-color: #dddddd;
	border-width: 2px;
}

footer{
	background-color: #666666;
	height: 75px;
	border-top-width: 5px;
	border-style: solid;
	border-color: #4aaaa5;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
	margin-top: 50px;
	}

h4{
	color: #ffffff;
	font-size: 10px;
}

img{
	float: left;
	padding-right: 15px;
}

.portfolio{
	margin-bottom: 20px;
	padding-left: 25px;
}



@media screen and (max-width: 768px) {
	#main-button, .main, .container-sub{
		width: 100%;
		padding:0px;
	}

	.icon{
		width:100%;

	}

	#github{
		display: inline-block;
		float: left;
	}

	#linkedin{
		display: inline-block;
		float: left;
	}

	#image-main{
		width: 100%;
	}

	.col-sm-4{
		width: 33%;
	}

}